.news-section-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: space-around;
    padding: 0 60px;
    gap: 25px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .news-section-container{
        grid-template-columns: auto;
    }
}